---
# Copyright (c) 2026 Peters Digital
# SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-Commercial
extends: default

rules:
  document-start:
    present: true
  line-length:
    max: 150
    level: warning
  trailing-spaces:
    level: warning
  comments:
    min-spaces-from-content: 1
  new-lines:
    type: unix
  truthy:
    level: warning
    allowed-values: ['true', 'false', 'on', 'off']
